h2 {
  color: #00416d;
}

#safetyImg{
  position: relative;
  float: right;
}

#questionImg{
  position: relative;
  float: right;
  height: 250px;
  width: 250px;
}

#difficultImg{
  position: relative;
  float: right;
  height: 250px;
  width: 250px;
}
