#result{
  height: auto;
  width: 210px;
  border: 5px solid blue;
  margin-top: 5%;
  color: blue;
  border-radius: 15%;
  font: italic bold 15px Arial, serif;
  padding: 2px;
}

#description{
  font: bold 16px arial;
}

table {
  border-spacing: 10px;
 border-collapse: separate;
}

#parts{
  border: 1px solid blue;
  background-color: #BEC9C2 ;
  padding: 10px;
  padding-top: 10px;
  vertical-align: baseline;
}

#parts2{
  border: 1px solid red;
  background-color: #f0d2bd ;
  padding: 10px;
  padding-top: 10px;
  vertical-align: baseline;
}


#description{
  font: italic bold 18px Arial, serif;
}
